body {
   margin: 0;
   padding: 0;
   background: rgb(150, 75, 50);
}

.header {
   text-align: center;
}

.button1 {
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
   z-index: 2;
}

.button2 {
   z-index: 2;
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
}

.button3 {
   z-index: 2;
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
}

.button3 {
   z-index: 2;
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
}

.button4 {
   z-index: 2;
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
}

.button5 {
   z-index: 2;
   text-align: center;
   font-size: 16px;
   margin-left: 40%;
   margin-top: 0px;
   width: 20%;
   color: black;
}
